.app-grid {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.main-area {
  display: flex;
  flex-direction: column;
  margin-left: 11rem;
  width: calc(100% - 11rem);
  height: 100vh;
}
.view-area {
  flex: 1;
  overflow: auto;
  padding: 1rem;
}
